In [1]:
import pandas as pd

In [10]:
df = pd.read_excel("Spending data.xls",skiprows=[0],header=1)

In [3]:
df.head()

,id,regionname,countryname,projectstatusdisplay,last_stage_reached_name,project_name,pdo,impagency,cons_serv_reqd_ind,url,...,grantamt,borrower,lendinginstr,envassesmentcategorycode,esrc_ovrl_risk_rate,sector1,sector2,sector3,theme1,theme2
0,P502565,Western and Central Africa,Republic of Liberia,Pipeline,NaN,RIGDPF,NaN,NaN,NaN,http://projects.worldbank.org/P502565/null?lan...,...,NaN,NaN,Development Policy Lending,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P502499,South Asia,Republic of India,Pipeline,NaN,Surat Resilience Enhancement Project,NaN,NaN,NaN,http://projects.worldbank.org/P502499/null?lan...,...,NaN,NaN,Investment Project Financing,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P502493,Latin America and Caribbean,Federative Republic of Brazil,Pipeline,NaN,RN Phase II,NaN,NaN,NaN,http://projects.worldbank.org/P502493/null?lan...,...,NaN,NaN,Investment Project Financing,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P502492,Eastern and Southern Africa,Republic of Burundi,Pipeline,NaN,Access to Finance to Import Strategic Commodities,NaN,NaN,NaN,http://projects.worldbank.org/P502492/null?lan...,...,NaN,NaN,Investment Project Financing,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P502491,South Asia,Republic of India,Pipeline,NaN,Haryana Clean Air and Sustainable Development ...,NaN,NaN,NaN,http://projects.worldbank.org/P502491/null?lan...,...,NaN,NaN,Program-for-Results Financing,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print(df.columns)

Index(['id', 'regionname', 'countryname', 'projectstatusdisplay',
       'last_stage_reached_name', 'project_name', 'pdo', 'impagency',
       'cons_serv_reqd_ind', 'url', 'boardapprovaldate', 'closingdate',
       'projectfinancialtype', 'curr_project_cost', 'curr_ibrd_commitment',
       'curr_ida_commitment', 'curr_total_commitment', 'grantamt', 'borrower',
       'lendinginstr', 'envassesmentcategorycode', 'esrc_ovrl_risk_rate',
       'sector1', 'sector2', 'sector3', 'theme1', 'theme2'],
      dtype='object')

In [5]:
print("Dimensions:", df.shape)

Dimensions: (22201, 27)

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22201 entries, 0 to 22200
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        22201 non-null  object
 1   regionname                22137 non-null  object
 2   countryname               22137 non-null  object
 3   projectstatusdisplay      22136 non-null  object
 4   last_stage_reached_name   15830 non-null  object
 5   project_name              22139 non-null  object
 6   pdo                       12081 non-null  object
 7   impagency                 7171 non-null   object
 8   cons_serv_reqd_ind        1677 non-null   object
 9   url                       22139 non-null  object
 10  boardapprovaldate         19364 non-null  object
 11  closingdate               17054 non-null  object
 12  projectfinancialtype      13522 non-null  object
 13  curr_project_cost         21983 non-null  float64
 14  curr_ibrd_commitment      22139 non-null  float64
 15  curr_ida_commitment       22139 non-null  float64
 16  curr_total_commitment     22139 non-null  float64
 17  grantamt                  2455 non-null   float64
 18  borrower                  6929 non-null   object
 19  lendinginstr              21895 non-null  object
 20  envassesmentcategorycode  13064 non-null  object
 21  esrc_ovrl_risk_rate       1582 non-null   object
 22  sector1                   20298 non-null  object
 23  sector2                   11760 non-null  object
 24  sector3                   7933 non-null   object
 25  theme1                    12242 non-null  object
 26  theme2                    9892 non-null   object
dtypes: float64(5), object(22)
memory usage: 4.6+ MB
None

In [7]:
df.describe()

,curr_project_cost,curr_ibrd_commitment,curr_ida_commitment,curr_total_commitment,grantamt
count,2.198300e+04,2.213900e+04,2.213900e+04,2.213900e+04,2.455000e+03
mean,1.644503e+08,4.646813e+07,2.846331e+07,7.493144e+07,4.122798e+07
std,1.134729e+09,1.269232e+08,7.278691e+07,1.388905e+08,3.168672e+08
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.000000e+07,0.000000e+00,0.000000e+00,5.000000e+06,1.000000e+06
50%,3.320000e+07,0.000000e+00,0.000000e+00,2.500000e+07,5.250000e+06
75%,1.058500e+08,3.200000e+07,2.300000e+07,8.800000e+07,1.997000e+07
max,9.300700e+10,3.750000e+09,1.500000e+09,3.750000e+09,1.295900e+10

In [9]:
print("Missing values per column:")
df.isnull().sum()

Missing values per column:

id                              0
regionname                     64
countryname                    64
projectstatusdisplay           65
last_stage_reached_name      6371
project_name                   62
pdo                         10120
impagency                   15030
cons_serv_reqd_ind          20524
url                            62
boardapprovaldate            2837
closingdate                  5147
projectfinancialtype         8679
curr_project_cost             218
curr_ibrd_commitment           62
curr_ida_commitment            62
curr_total_commitment          62
grantamt                    19746
borrower                    15272
lendinginstr                  306
envassesmentcategorycode     9137
esrc_ovrl_risk_rate         20619
sector1                      1903
sector2                     10441
sector3                     14268
theme1                       9959
theme2                      12309
dtype: int64